html {
    box-sizing: border-box;
    font-size: 62.5%;  /* 1REM = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

/* Globales */
h1,
h2,
h3{
    font-family: 'Playfair Display', sans-serif;
}


a{ 
    text-decoration: none;
    color: #000;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}
/* Header y Navegación */
.nombre-sitio {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 4rem;
}

.nombre-sitio span {
    color: #037bc0;
}
.contenedor-navegacion {
    border-top: .1rem solid #e1e1e1;
}
.nav-principal {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.hero {
    background-image: url('../img/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 55rem;
}

/** Categoriías **/
.categorias h2 {
    text-align: center;
}
.categoria a {
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}
.categoria a:hover {
    background-color: #037bc0;
    color: #FFF;
    border-bottom-right-radius: 1rem;
}
.listado-categorias {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}